<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            <a href="{% url 'conditional' %}">Go to conditional page</a>
        </h1>
        </h1>
        <h1>LOOPING STATEMENTS</h1>
        <h1>Name 
            {% for i in  name %}
                <h1>{{i}}</h1>
            {% endfor %}
        </h1>
        <h1>mobile number 
            {% for i in  mb %}
                <h1>{{i}}</h1>
            {% endfor %}
        </h1>

    </center>
    
</body>
</html>